body {
    background-color: #4CBB17;
    color: white;
}

.easy {
    background-color: green;
    border-radius: 20px;
    border: black solid 2px;
}

.medium {
    background-color: yellow;
    border-radius: 20px;
    border: black solid 2px;
}

.hard {
    background-color: red;
    border-radius: 20px;
    border: black solid 2px;
}

#youLose {
    font-size: 295px;
    color: red;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
    width: 100%;
}

#youWin {
    font-size: 295px;
    color: lime;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
    width: 100%;
}

.container {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 40px;
}

.score {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 25px;
    background-color: black;
    border-radius: 20px;
    border: white solid 2px;
    padding: 20px;
}

img {
    width: 400px;
    height: 400px;
}

#intro {
    border-radius: 20px;
    background-color: white;
    padding: 150px;
    color: black;
}

#gameArea {
    margin-top: 15% !important;
}

#letterInput {
    border: black solid 2px;
}

.btn {
    border: black solid 2px;
}
